.container {
  width: auto;
  height: 3.625rem;
  border: 0.0625rem solid #e5e5e5;
}

.wrapper {
  display: flex;
  height: inherit;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  line-height: 1.75rem;
  color: #222d39;
}

.select select {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #222d39;
  border: 1px solid #fff;
  min-width: 5.5rem;
  padding: 0;
  margin: 0 0.125rem;
}

.select {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
