.wrapper {
  width: 100%;
}

.container {
  width: auto;

  border: 0.0625rem solid #e5e5e5;
  border-radius: 0.25rem;
  padding: 1.5rem 1.6875rem;

  line-height: 1.75rem;
}

.container summary {
  display: flex;
  justify-content: space-between;
}

.container summary::after {
  content: '';
  position: relative;
  top: 0.375rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAUCAYAAADskT9PAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADmSURBVHgBtZbRCcIwFEXvLfjvCI7QFbqJP4Kfuk3BHzfQDbqCIzhC/wXry2spAbVNXpILgbR55JwmJQRIyLDH1jUkhDBGwRt0+vBCwyt6GGIS8OD19OphlYgW+AFHikSUwALcLBEsEAA3SQQJ/IUTz7EAOxglVgUW4RUa7b9l3CjBFDjbcQWGo8CNEkyFz/VGCeaAp0gwF9wqwZxwiwRzw2MlWAIeI8FS8FCJSuC3UnCdqp0OLH7NVQv7XknnLK0vAV+RcMzT+A8cdAU6Kehzw/142+FuUQ0vsg3zoEhoQeE4xvTBmg+cALiWpmCWrwAAAABJRU5ErkJggg==');
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
  background-repeat: no-repeat;
}
.container[open] summary::after {
  content: '';
  transform: rotate(180deg);
}

.filterList {
  display: flex;
  flex-direction: column;
}

.filterList input {
  display: flex;
  position: relative;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  padding: 10px 0;
  margin: 10px 12px 10px 0;
  outline-color: transparent;
}

.filterList input::after {
  content: '';
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background-color: white;
  border: 2px solid #4a4a4a;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.filterList label {
  display: flex;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
}

.filterList input:checked::after {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #ef0000;
  background-position: center;
}

.filterList input:focus::after {
  box-shadow: 0 0 0 3px #ffbf47;
  outline: 3px solid transparent;
}
